.load-more {
  margin: 1rem 0;
  text-align: center;

  .btn {
    margin: auto;
    padding: 1rem;
  }

  svg {
    position: absolute;
    width: 20px; height: 20px;
    top: 0; right: .5rem; bottom: 0;
    margin: auto;
  }
}