.book-search {
  margin-bottom: 1rem;

  input[type=text] {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
  }
}